<!--=== Slider ===-->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Title 1">
                <!-- MAIN IMAGE -->
                <img src="assets/img/sliders/1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="tp-caption revolution-ch1 sft start"
                data-x="center"
                data-hoffset="0"
                data-y="100"
                data-speed="1500"
                data-start="500"
                data-easing="Back.easeInOut"
                data-endeasing="Power1.easeIn"
                data-endspeed="300">
                WELCOME TO $TAKEHOUSE
            </div>

            <!-- LAYER -->
            <div class="tp-caption revolution-ch2 sft"
            data-x="center"
            data-hoffset="0"
            data-y="190"
            data-speed="1400"
            data-start="2000"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6">
            StakeHouse is a premier Staking Application<br/>
            Seeking to Connect Players and Investors<br/>
            For Profit Sharing & Variance Protection
        </div>

        <!-- LAYER -->
        <div class="tp-caption sft"
        data-x="center"
        data-hoffset="0"
        data-y="310"
        data-speed="1600"
        data-start="2800"
        data-easing="Power4.easeOut"
        data-endspeed="300"
        data-endeasing="Power1.easeIn"
        data-captionhidden="off"
        style="z-index: 6">
        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>
    </div>
</li>
<!-- END SLIDE -->

<!-- SLIDE -->
<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Title 2">
    <!-- MAIN IMAGE -->
    <img src="assets/img/sliders/2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

    <div class="tp-caption revolution-ch1 sft start"
    data-x="center"
    data-hoffset="0"
    data-y="100"
    data-speed="1500"
    data-start="500"
    data-easing="Back.easeInOut"
    data-endeasing="Power1.easeIn"
    data-endspeed="300">
    Find Investors And Become An Investor
</div>

<!-- LAYER -->
<div class="tp-caption revolution-ch2 sft"
data-x="center"
data-hoffset="0"
data-y="190"
data-speed="1400"
data-start="2000"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 6">
StakeHouse is a premier Staking Application<br/>
Seeking to Connect Players and Investors<br/>
For Profit Sharing & Variance Protection
</div>

<!-- LAYER -->
<div class="tp-caption sft"
data-x="center"
data-hoffset="0"
data-y="310"
data-speed="1600"
data-start="2800"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 6">
<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>
</div>
</li>
<!-- END SLIDE -->

<!-- SLIDE -->
<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Title 3">
    <!-- MAIN IMAGE -->
    <img src="assets/img/sliders/3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

    <div class="tp-caption revolution-ch1 sft start"
    data-x="center"
    data-hoffset="0"
    data-y="100"
    data-speed="1500"
    data-start="500"
    data-easing="Back.easeInOut"
    data-endeasing="Power1.easeIn"
    data-endspeed="300">
    Over 12000+ Satisfied Users
</div>

<!-- LAYER -->
<div class="tp-caption revolution-ch2 sft"
data-x="center"
data-hoffset="0"
data-y="190"
data-speed="1400"
data-start="2000"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 6">
StakeHouse is a premier Staking Application<br/>
Seeking to Connect Players and Investors<br/>
For Profit Sharing & Variance Protection
</div>

<!-- LAYER -->
<div class="tp-caption sft"
data-x="center"
data-hoffset="0"
data-y="310"
data-speed="1600"
data-start="2800"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 6">
<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>
</div>
</li>
<!-- END SLIDE -->
</ul>
<div class="tp-bannertimer tp-bottom"></div>
</div>
</div>
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9 animated fadeInLeft">
                <span>StakeHouse is Altering The Way Staking Works</span>
                <p>Join the StakeHouse Community now by logging in with Twitter! Browse Through Ongoing and Upcoming Tournaments, Get Staked Or Find Players That Want To Be Staked. View Players Twitter Updates, Previous Cashes and Stats. Invest In Players and Keep Track Of When They Want To Be Staked And Who They Invest In!</p>
            </div>
            <div class="col-md-3 btn-buy animated fadeInRight">
                 <%= link_to signin_path, :class=> "btn-u btn-u-lg", id: "login" do %>
                <i class="fa fa-twitter"></i>
                Get In On The Action
                <% end %>
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="one-page">
    <div class="one-page-inner one-default">
        <div class="container content">
            <div class="row">
                <div class="col-md-6">
                    <h1>Why Get Staked?</h1>
                    <p>Finding people to invest in you has been hard. You've asked your relatives, You've asked your friends, You've asked your neighbors. They didn't understand your drive and passion and saw it only as a hobby or maybe they understood but just didn't have the money to invest. Now You can ask people right from the Community, who understand your passions and who are willing to invest in them, to take a piece of YOUR action!!!</p>
                    <p>Players Who Come To Our Site Ask To Be Staked Because They:</p>
                    <ul class="list-unstyled margin-bottom-20 pull-right">
                        <li><i class="fa fa-check color-green"></i> Want To Help Avoid Large Variance Swings</li>
                        <li><i class="fa fa-check color-green"></i> Are Looking To Develop or Grow a Loyal Fan Base</li>
                        <li><i class="fa fa-check color-green"></i> Don't Have All The Capital Needed For Touranment Expenses</li>
                        <li><i class="fa fa-check color-green"></i> Are Aware of the Risks And Rewards And Want To Profit Share</li>
                        <li><i class="fa fa-check color-green"></i> Want Recognition From Other Players in The Community</li>
                        <li><i class="fa fa-check color-green"></i> Are Experienced Players Who Seek A Marked Up Value For Their Shares</li>
                    </ul>
                    <a class="btn-u btn-u-green one-page-btn"><i class="fa fa-bolt"></i> Libero adipiscing</a>
                </div>
                <div class="col-md-6">
                    <img src="/assets/img/main/img12.jpg" class="img-responsive margin-bottom-10" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-blue">
        <div class="container content">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/main/img3.jpg" class="margin-bottom-10 img-responsive" alt="">
                </div>
                <div class="col-md-6">
                    <h2>Why Become An Investor?</h2>
                    <p> “Never invest in something you can’t understand.”-- Warren Buffet.<br> You Play. You understand what it takes to be a good player. You even understand what it takes to be a Great player. The qualities, the moves, the stats. You understand it. Now Profit off of it.</p>
                    <p>Investors Come To Our Site Because They:</p>
                      <ul class="list-unstyled margin-bottom-20 pull-right">
                        <li><p><i class="fa fa-check color-green"></i> Value Security  That Guarantees Payouts From Players Who Win</p></li>
                        <li><p><i class="fa fa-check color-green"></i> Want To Invest In Well Known Poker Players or Back a Dark Horse</p></li>
                        <li><p><i class="fa fa-check color-green"></i> Can't Make It To a Tournament But Still Want a Piece Of The Action</p></li>
                        <li><p><i class="fa fa-check color-green"></i> Want to know who else is invested in their favorite Players</p></li>
                        <li><p><i class="fa fa-check color-green"></i> Want to Easily View Players Stats, Cashes, Performances, and Updates. </p></li>
                    </ul>
                    <a class="btn-u btn-u-red one-page-btn"><i class="fa fa-bell"></i> libero adipiscing</a>
                </div>
            </div>
        </div>
    </div>


    <div class="one-page-inner one-default">
        <div class="container content">
            <div class="row">
            <div class="row content-boxes-v2">
                <div class="col-md-4 md-margin-bottom-30">
                    <h3 class="heading-sm">
                        <i class="icon-custom rounded-x icon-sm icon-bg-u fa fa-gamepad"></i>
                        <span>Play</span>
                    </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's, fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. </p>
                </div>
                <div class="col-md-4 md-margin-bottom-30">
                    <h3 class="heading-sm">
                        <i class="icon-custom rounded-x icon-sm icon-bg-blue fa fa-line-chart"></i>
                        <span>Invest</span>
                    </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's, fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. </p>
                </div>
                <div class="col-md-4">
                    <h3 class="heading-sm">
                        <i class="icon-custom rounded-x icon-sm icon-bg-red icon-line icon-rocket"></i>
                        <span>Profit</span>
                    </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's, fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. </p>
                </div>
            </div>
        </div>
    </div>
</div><!--/one-page-->
<!-- End Content Part -->



<!-- JS Customization -->
<script type="text/javascript" src="/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        FancyBox.initFancybox();
        RevolutionSlider.initRSfullWidth();
    });
</script>
<!--[if lt IE 9]>
    <script src="/assets/plugins/respond.js"></script>
    <script src="/assets/plugins/html5shiv.js"></script>
    <script src=".assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->





